<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>日月潭香林田莊100%有機紅茶</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
<![endif]-->

<meta name="keywords" content="100%純天然、有機、保健、營養、安全、健康、百分之百純天然、安心、胡蘿蔔、紫胡蘿蔔、甜菜根、檸檬、胡蘿蔔素、維生素A、花青素、多酚、甜菜根素、視力保健、腸道保養、皮膚保養、自然排毒、補充營養、抗老化、排便順暢、原裝進口。">
<meta name="description" content="日月潭香林田莊100%有機紅茶">

<meta property="og:image" content="image/bg01.jpg" />
<meta property="og:description" content="日月潭香林田莊100%有機紅茶：
寶貝族、學生族、愛美族、超人族、樂活族，全家大小一起喝，幸福又健康！" />
<meta property="og:title" content="日月潭香林田莊100%有機紅茶" />
<meta property="og:url" content="" />

<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/twzipcode-1.3.js"></script>
<link href="css/layout.css" rel="stylesheet" type="text/css">


<style>


/** 滑動選單 **/
#ct {
	position: relative;
	cursor: pointer;
	height: 40px;
	width: 100px;
	}


#roll {
	display:block;
	width:25px;
	margin-right:-520px;
	position:fixed;
	right:50%;
	top:50%;
	}
</style>
</head>

<body ng-app="esellerApp" ng-controller="BuyCtrl as ctrl" class="ng-scope">
  

<article>
<img src="image/coffe.jpg" style="" alt="" title="">
<img src="image/bg02.jpg" style="" alt="" title="">
<img src="image/bg03.jpg" style="" alt="" title="">
<img src="image/bg04.jpg" style="" alt="" title="">
<img src="image/bg05.jpg" style="" alt="" title="">

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
<div class='embed-container'><iframe src='https://www.youtube.com/embed/r6pXUVzh_MQ' frameborder='0' allowfullscreen></iframe></div>

<img src="image/coffe.jpg" style="" alt="" title="">
<img src="image/coffe2.png" style="" alt="" title="">
<img src="image/tea.jpg" style="" alt="" title="">
<img src="image/tea2.jpg" style="" alt="" title="">
<img src="image/tea3.jpg" style="" alt="" title="">
<img src="image/bg10.jpg" style="" alt="" title="">
<img src="image/bg11.jpg" style="" alt="" title="" id="scroll_top">

<div class="box_all" >
	<div class="box_F">
		日月潭紅茶 ➠ 6入<br>
		<span>胡蘿蔔檸汁</span>
	</div>
    <div class="box_R">

    <select id="mySelect1">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$600)</option>
                <option value="2">2 (特價只要$1,200)</option>
                <option value="3">3 (特價只要$1,800)</option>
                <option value="4">4 (特價只要$2,400)</option>
                <option value="5">5 (特價只要$3,000)</option>
                <option value="6">6 (特價只要$3,600)</option>
                <option value="7">7 (特價只要$4,200)</option>
                <option value="8">8 (特價只要$4,800)</option>
                <option value="9">9 (特價只要$5,400)</option>
                <option value="10">10 (特價只要$6,000)</option>
	</select>

    </div>
</div>


<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 6入
	</div>
    <div class="box_R">
    <select id="mySelect2">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$600)</option>
                <option value="2">2 (特價只要$1,200)</option>
                <option value="3">3 (特價只要$1,800)</option>
                <option value="4">4 (特價只要$2,400)</option>
                <option value="5">5 (特價只要$3,000)</option>
                <option value="6">6 (特價只要$3,600)</option>
                <option value="7">7 (特價只要$4,200)</option>
                <option value="8">8 (特價只要$4,800)</option>
                <option value="9">9 (特價只要$5,400)</option>
                <option value="10">10 (特價只要$6,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 6入
	</div>
    <div class="box_R">
    <select id="mySelect3">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$600)</option>
                <option value="2">2 (特價只要$1,200)</option>
                <option value="3">3 (特價只要$1,800)</option>
                <option value="4">4 (特價只要$2,400)</option>
                <option value="5">5 (特價只要$3,000)</option>
                <option value="6">6 (特價只要$3,600)</option>
                <option value="7">7 (特價只要$4,200)</option>
                <option value="8">8 (特價只要$4,800)</option>
                <option value="9">9 (特價只要$5,400)</option>
                <option value="10">10 (特價只要$6,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 6入
	</div>
    <div class="box_R">
    <select id="mySelect4">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$600)</option>
                <option value="2">2 (特價只要$1,200)</option>
                <option value="3">3 (特價只要$1,800)</option>
                <option value="4">4 (特價只要$2,400)</option>
                <option value="5">5 (特價只要$3,000)</option>
                <option value="6">6 (特價只要$3,600)</option>
                <option value="7">7 (特價只要$4,200)</option>
                <option value="8">8 (特價只要$4,800)</option>
                <option value="9">9 (特價只要$5,400)</option>
                <option value="10">10 (特價只要$6,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<img src="image/bg15.jpg" style="" alt="" title="">

<div class="clear"></div>

<div class="box_all" >
    <div class="box_F">
        日月潭紅茶 ➠ 6入<br>
        <span>日月潭紅茶</span>
    </div>
    <div class="box_R">

    <select id="mySelect17">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$660)</option>
                <option value="2">2 (特價只要$1,320)</option>
                <option value="3">3 (特價只要$1,980)</option>
                <option value="4">4 (特價只要$2,640)</option>
                <option value="5">5 (特價只要$3,300)</option>
                <option value="6">6 (特價只要$3,960)</option>
                <option value="7">7 (特價只要$4,620)</option>
                <option value="8">8 (特價只要$5,280)</option>
                <option value="9">9 (特價只要$5,940)</option>
                <option value="10">10 (特價只要$6,600)</option>
    </select>

    </div>
</div>

<div class="clear"></div>

<img src="image/bg12.jpg" style="" alt="" title="">

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶 ➠ 12入<br>
		<span>胡蘿蔔檸汁+紫胡蘿蔔檸汁+甜菜根檸汁</span>
	</div>
    <div class="box_R">
    <select id="mySelect5">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$1,200)</option>
                <option value="2">2 (特價只要$2,400)</option>
                <option value="3">3 (特價只要$3,600)</option>
                <option value="4">4 (特價只要$4,800)</option>
                <option value="5">5 (特價只要$6,000)</option>
                <option value="6">6 (特價只要$7,200)</option>
                <option value="7">7 (特價只要$8,400)</option>
                <option value="8">8 (特價只要$9,600)</option>
                <option value="9">9 (特價只要$10,800)</option>
                <option value="10">10 (特價只要$12,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 12入
	</div>
    <div class="box_R">
    <select id="mySelect6">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$1,200)</option>
                <option value="2">2 (特價只要$2,400)</option>
                <option value="3">3 (特價只要$3,600)</option>
                <option value="4">4 (特價只要$4,800)</option>
                <option value="5">5 (特價只要$6,000)</option>
                <option value="6">6 (特價只要$7,200)</option>
                <option value="7">7 (特價只要$8,400)</option>
                <option value="8">8 (特價只要$9,600)</option>
                <option value="9">9 (特價只要$10,800)</option>
                <option value="10">10 (特價只要$12,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 12入
	</div>
    <div class="box_R">
    <select id="mySelect7">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$1,200)</option>
                <option value="2">2 (特價只要$2,400)</option>
                <option value="3">3 (特價只要$3,600)</option>
                <option value="4">4 (特價只要$4,800)</option>
                <option value="5">5 (特價只要$6,000)</option>
                <option value="6">6 (特價只要$7,200)</option>
                <option value="7">7 (特價只要$8,400)</option>
                <option value="8">8 (特價只要$9,600)</option>
                <option value="9">9 (特價只要$10,800)</option>
                <option value="10">10 (特價只要$12,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 12入
	</div>
    <div class="box_R">
    <select id="1">
            <option value="0">--請選擇--</option>
                <option value="1">1 (特價只要$1,200)</option>
                <option value="2">2 (特價只要$2,400)</option>
                <option value="3">3 (特價只要$3,600)</option>
                <option value="4">4 (特價只要$4,800)</option>
                <option value="5">5 (特價只要$6,000)</option>
                <option value="6">6 (特價只要$7,200)</option>
                <option value="7">7 (特價只要$8,400)</option>
                <option value="8">8 (特價只要$9,600)</option>
                <option value="9">9 (特價只要$10,800)</option>
                <option value="10">10 (特價只要$12,000)</option>
	</select>
    </div>
</div>

<div class="clear"></div>
<img src="image/bg13.jpg" style="" alt="" title="">

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶 ➠ 24入<br>
		<span>日月潭紅茶</span>
	</div>
    <div class="box_R">
    <select id="mySelect9">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$2,400→特價只要$2,350)</option>
                <option value="2">2 (原價$4,800→特價只要$4,700)</option>
                <option value="3">3 (原價$7,200→特價只要$7,050)</option>
                <option value="4">4 (原價$9,600→特價只要$9,400)</option>
                <option value="5">5 (原價$12,000→特價只要$11,750)</option>
                <option value="6">6 (原價$14,400→特價只要$14,100)</option>
                <option value="7">7 (原價$16,800→特價只要$16,450)</option>
                <option value="8">8 (原價$19,200→特價只要$18,800)</option>
                <option value="9">9 (原價$21,600→特價只要$21,150)</option>
                <option value="10">10 (原價$24,000→特價只要$23,500)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 24入
	</div>
    <div class="box_R">
    <select id="mySelect10">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$2,400→特價只要$2,350)</option>
                <option value="2">2 (原價$4,800→特價只要$4,700)</option>
                <option value="3">3 (原價$7,200→特價只要$7,050)</option>
                <option value="4">4 (原價$9,600→特價只要$9,400)</option>
                <option value="5">5 (原價$12,000→特價只要$11,750)</option>
                <option value="6">6 (原價$14,400→特價只要$14,100)</option>
                <option value="7">7 (原價$16,800→特價只要$16,450)</option>
                <option value="8">8 (原價$19,200→特價只要$18,800)</option>
                <option value="9">9 (原價$21,600→特價只要$21,150)</option>
                <option value="10">10 (原價$24,000→特價只要$23,500)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 24入
	</div>
    <div class="box_R">
    <select id="mySelect11">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$2,400→特價只要$2,350)</option>
                <option value="2">2 (原價$4,800→特價只要$4,700)</option>
                <option value="3">3 (原價$7,200→特價只要$7,050)</option>
                <option value="4">4 (原價$9,600→特價只要$9,400)</option>
                <option value="5">5 (原價$12,000→特價只要$11,750)</option>
                <option value="6">6 (原價$14,400→特價只要$14,100)</option>
                <option value="7">7 (原價$16,800→特價只要$16,450)</option>
                <option value="8">8 (原價$19,200→特價只要$18,800)</option>
                <option value="9">9 (原價$21,600→特價只要$21,150)</option>
                <option value="10">10 (原價$24,000→特價只要$23,500)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 24入
	</div>
    <div class="box_R">
    <select id="mySelect12">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$2,400→特價只要$2,350)</option>
                <option value="2">2 (原價$4,800→特價只要$4,700)</option>
                <option value="3">3 (原價$7,200→特價只要$7,050)</option>
                <option value="4">4 (原價$9,600→特價只要$9,400)</option>
                <option value="5">5 (原價$12,000→特價只要$11,750)</option>
                <option value="6">6 (原價$14,400→特價只要$14,100)</option>
                <option value="7">7 (原價$16,800→特價只要$16,450)</option>
                <option value="8">8 (原價$19,200→特價只要$18,800)</option>
                <option value="9">9 (原價$21,600→特價只要$21,150)</option>
                <option value="10">10 (原價$24,000→特價只要$23,500)</option>
	</select>
    </div>
</div>

<div class="clear"></div>
<img src="image/bg14.jpg" style="" alt="" title="">

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶<br>
		<span>胡蘿蔔檸汁+紫胡蘿蔔檸汁+甜菜根檸汁</span>
	</div>
    <div class="box_R">
    <select id="mySelect13">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$4,800→特價只要$4,320)</option>
                <option value="2">2 (原價$9,600→特價只要$8,640)</option>
                <option value="3">3 (原價$14,400→特價只要$12,960)</option>
                <option value="4">4 (原價$19,200→特價只要$17,280)</option>
                <option value="5">5 (原價$24,000→特價只要$21,600)</option>
                <option value="6">6 (原價$28,800→特價只要$25,920)</option>
                <option value="7">7 (原價$33,600→特價只要$30,240)</option>
                <option value="8">8 (原價$38,400→特價只要$34,560)</option>
                <option value="9">9 (原價$43,200→特價只要$38,880)</option>
                <option value="10">10 (原價$48,000→特價只要$43,200)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶
	</div>
    <div class="box_R">
    <select id="mySelect14">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$4,800→特價只要$4,320)</option>
                <option value="2">2 (原價$9,600→特價只要$8,640)</option>
                <option value="3">3 (原價$14,400→特價只要$12,960)</option>
                <option value="4">4 (原價$19,200→特價只要$17,280)</option>
                <option value="5">5 (原價$24,000→特價只要$21,600)</option>
                <option value="6">6 (原價$28,800→特價只要$25,920)</option>
                <option value="7">7 (原價$33,600→特價只要$30,240)</option>
                <option value="8">8 (原價$38,400→特價只要$34,560)</option>
                <option value="9">9 (原價$43,200→特價只要$38,880)</option>
                <option value="10">10 (原價$48,000→特價只要$43,200)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 48入
	</div>
    <div class="box_R">
    <select id="mySelect15">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$4,800→特價只要$4,320)</option>
                <option value="2">2 (原價$9,600→特價只要$8,640)</option>
                <option value="3">3 (原價$14,400→特價只要$12,960)</option>
                <option value="4">4 (原價$19,200→特價只要$17,280)</option>
                <option value="5">5 (原價$24,000→特價只要$21,600)</option>
                <option value="6">6 (原價$28,800→特價只要$25,920)</option>
                <option value="7">7 (原價$33,600→特價只要$30,240)</option>
                <option value="8">8 (原價$38,400→特價只要$34,560)</option>
                <option value="9">9 (原價$43,200→特價只要$38,880)</option>
                <option value="10">10 (原價$48,000→特價只要$43,200)</option>
	</select>
    </div>
</div>

<div class="clear"></div>

<div class="box_all">
	<div class="box_F">
		日月潭紅茶➠ 48入
	</div>
    <div class="box_R">
    <select id="mySelect16">
            <option value="0">--請選擇--</option>
                <option value="1">1 (原價$4,800→特價只要$4,320)</option>
                <option value="2">2 (原價$9,600→特價只要$8,640)</option>
                <option value="3">3 (原價$14,400→特價只要$12,960)</option>
                <option value="4">4 (原價$19,200→特價只要$17,280)</option>
                <option value="5">5 (原價$24,000→特價只要$21,600)</option>
                <option value="6">6 (原價$28,800→特價只要$25,920)</option>
                <option value="7">7 (原價$33,600→特價只要$30,240)</option>
                <option value="8">8 (原價$38,400→特價只要$34,560)</option>
                <option value="9">9 (原價$43,200→特價只要$38,880)</option>
                <option value="10">10 (原價$48,000→特價只要$43,200)</option>
	</select>
    </div>
</div>

<div class="clear"></div>
<div class="clear"></div>

<div class="cube">訂購商品</div>

<div class="buy_all">
    <div class="buy01">品項</div>
    <div class="buy02">數量</div>
    <div class="buy02">原價</div>
    <div class="buy02">特價</div>
</div>

<div  id="input_select">
	<div class="buy_all_He" id="item1" style="display:none;">
		<div id="item1_1" class="buy01"></div>
		<div id="item1_2" class="buy02"></div>
		<div id="item1_3" class="buy02"></div>
		<div id="item1_4" class="buy02"></div>
	</div>
	<div class="clear" id="item1_" style="display:none;"></div>
	<div class="buy_all_He" id="item2" style="display:none;">
		<div id="item2_1" class="buy01"></div>
		<div id="item2_2" class="buy02"></div>
		<div id="item2_3" class="buy02"></div>
		<div id="item2_4" class="buy02"></div>
	</div>
	<div class="clear" id="item2_" style="display:none;"></div>
	<div class="buy_all_He" id="item3" style="display:none;">
		<div id="item3_1" class="buy01"></div>
		<div id="item3_2" class="buy02"></div>
		<div id="item3_3" class="buy02"></div>
		<div id="item3_4" class="buy02"></div>
	</div>
	<div class="clear" id="item3_" style="display:none;"></div>
	<div class="buy_all_He" id="item4" style="display:none;">
		<div id="item4_1" class="buy01"></div>
		<div id="item4_2" class="buy02"></div>
		<div id="item4_3" class="buy02"></div>
		<div id="item4_4" class="buy02"></div>
	</div>
	<div class="clear" id="item4_" style="display:none;"></div>
	<div class="buy_all_He" id="item5" style="display:none;">
		<div id="item5_1" class="buy01"></div>
		<div id="item5_2" class="buy02"></div>
		<div id="item5_3" class="buy02"></div>
		<div id="item5_4" class="buy02"></div>
	</div>
	<div class="clear" id="item5_" style="display:none;"></div>
	<div class="buy_all_He" id="item6" style="display:none;">
		<div id="item6_1" class="buy01"></div>
		<div id="item6_2" class="buy02"></div>
		<div id="item6_3" class="buy02"></div>
		<div id="item6_4" class="buy02"></div>
	</div>
	<div class="clear" id="item6_" style="display:none;"></div>
	<div class="buy_all_He" id="item7" style="display:none;">
		<div id="item7_1" class="buy01"></div>
		<div id="item7_2" class="buy02"></div>
		<div id="item7_3" class="buy02"></div>
		<div id="item7_4" class="buy02"></div>
	</div>
	<div class="clear" id="item7_" style="display:none;"></div>
	<div class="buy_all_He" id="item8" style="display:none;">
		<div id="item8_1" class="buy01"></div>
		<div id="item8_2" class="buy02"></div>
		<div id="item8_3" class="buy02"></div>
		<div id="item8_4" class="buy02"></div>
	</div>
	<div class="clear" id="item8_" style="display:none;"></div>
	<div class="buy_all_He" id="item9" style="display:none;">
		<div id="item9_1" class="buy01"></div>
		<div id="item9_2" class="buy02"></div>
		<div id="item9_3" class="buy02"></div>
		<div id="item9_4" class="buy02"></div>
	</div>
	<div class="clear" id="item9_" style="display:none;"></div>
	<div class="buy_all_He" id="item10" style="display:none;">
		<div id="item10_1" class="buy01"></div>
		<div id="item10_2" class="buy02"></div>
		<div id="item10_3" class="buy02"></div>
		<div id="item10_4" class="buy02"></div>
	</div>
	<div class="clear" id="item10_" style="display:none;"></div>
	<div class="buy_all_He" id="item11" style="display:none;">
		<div id="item11_1" class="buy01"></div>
		<div id="item11_2" class="buy02"></div>
		<div id="item11_3" class="buy02"></div>
		<div id="item11_4" class="buy02"></div>
	</div>
	<div class="clear" id="item11_" style="display:none;"></div>
	<div class="buy_all_He" id="item12" style="display:none;">
		<div id="item12_1" class="buy01"></div>
		<div id="item12_2" class="buy02"></div>
		<div id="item12_3" class="buy02"></div>
		<div id="item12_4" class="buy02"></div>
	</div>
	<div class="clear" id="item12_" style="display:none;"></div>
	<div class="buy_all_He" id="item13" style="display:none;">
		<div id="item13_1" class="buy01"></div>
		<div id="item13_2" class="buy02"></div>
		<div id="item13_3" class="buy02"></div>
		<div id="item13_4" class="buy02"></div>
	</div>
	<div class="clear" id="item13_" style="display:none;"></div>
	<div class="buy_all_He" id="item14" style="display:none;">
		<div id="item14_1" class="buy01"></div>
		<div id="item14_2" class="buy02"></div>
		<div id="item14_3" class="buy02"></div>
		<div id="item14_4" class="buy02"></div>
	</div>
	<div class="clear" id="item14_" style="display:none;"></div>
	<div class="buy_all_He" id="item15" style="display:none;">
		<div id="item15_1" class="buy01"></div>
		<div id="item15_2" class="buy02"></div>
		<div id="item15_3" class="buy02"></div>
		<div id="item15_4" class="buy02"></div>
	</div>
	<div class="clear" id="item15_" style="display:none;"></div>
	<div class="buy_all_He" id="item16" style="display:none;">
		<div id="item16_1" class="buy01"></div>
		<div id="item16_2" class="buy02"></div>
		<div id="item16_3" class="buy02"></div>
		<div id="item16_4" class="buy02"></div>
	</div>
	<div class="clear" id="item16_" style="display:none;"></div>
    <div class="buy_all_He" id="item17" style="display:none;">
        <div id="item17_1" class="buy01"></div>
        <div id="item17_2" class="buy02"></div>
        <div id="item17_3" class="buy02"></div>
        <div id="item17_4" class="buy02"></div>
    </div>
    <div class="clear" id="item17_" style="display:none;"></div>
</div>



<div class="buy_sum">
	<span>運費$100，離島運費$150</span>
	<span>/全館訂單金額$0以上免運</span>
</div>

<div>
	<div>小計</div>
	<div id="total_show">$0</div>
    <div>運費</div>
    <div>$0
			<span>(免運)</span>
</div>

<div>
	<div>總金額</div>
    <div id="total_pay">$0</div>
</div>

    </div>
</div>

<div class="clear"></div>
<div class="clear"></div>
<form id="orderForm" name="form" method="post"  action="send_mail.php">
 <input type="hidden" id="product" name="product" value="123">
 <input type="hidden" id="total" name="total" value="0">
 <input type="hidden" name="mySelect1_1" id="mySelect1_1" value="0">
 <input type="hidden" name="mySelect2_1" id="mySelect2_1" value="0">
 <input type="hidden" name="mySelect3_1" id="mySelect3_1" value="0">
 <input type="hidden" name="mySelect4_1" id="mySelect4_1" value="0">
 <input type="hidden" name="mySelect5_1" id="mySelect5_1" value="0">
 <input type="hidden" name="mySelect6_1" id="mySelect6_1" value="0">
 <input type="hidden" name="mySelect7_1" id="mySelect7_1" value="0">
 <input type="hidden" name="mySelect8_1" id="mySelect8_1" value="0">
 <input type="hidden" name="mySelect9_1" id="mySelect9_1" value="0">
 <input type="hidden" name="mySelect10_1" id="mySelect10_1" value="0">
 <input type="hidden" name="mySelect11_1" id="mySelect11_1" value="0">
 <input type="hidden" name="mySelect12_1" id="mySelect12_1" value="0">
 <input type="hidden" name="mySelect13_1" id="mySelect13_1" value="0">
 <input type="hidden" name="mySelect14_1" id="mySelect14_1" value="0">
 <input type="hidden" name="mySelect15_1" id="mySelect15_1" value="0">
 <input type="hidden" name="mySelect16_1" id="mySelect16_1" value="0">
 <input type="hidden" name="mySelect17_1" id="mySelect17_1" value="0">

 <input type="hidden" name="mySelect1_1_" id="mySelect1_1_" value="">
 <input type="hidden" name="mySelect2_1_" id="mySelect2_1_" value="">
 <input type="hidden" name="mySelect3_1_" id="mySelect3_1_" value="">
 <input type="hidden" name="mySelect4_1_" id="mySelect4_1_" value="">
 <input type="hidden" name="mySelect5_1_" id="mySelect5_1_" value="">
 <input type="hidden" name="mySelect6_1_" id="mySelect6_1_" value="">
 <input type="hidden" name="mySelect7_1_" id="mySelect7_1_" value="">
 <input type="hidden" name="mySelect8_1_" id="mySelect8_1_" value="">
 <input type="hidden" name="mySelect9_1_" id="mySelect9_1_" value="">
 <input type="hidden" name="mySelect10_1_" id="mySelect10_1_" value="">
 <input type="hidden" name="mySelect11_1_" id="mySelect11_1_" value="">
 <input type="hidden" name="mySelect12_1_" id="mySelect12_1_" value="">
 <input type="hidden" name="mySelect13_1_" id="mySelect13_1_" value="">
 <input type="hidden" name="mySelect14_1_" id="mySelect14_1_" value="">
 <input type="hidden" name="mySelect15_1_" id="mySelect15_1_" value="">
 <input type="hidden" name="mySelect16_1_" id="mySelect16_1_" value="">
 <input type="hidden" name="mySelect17_1_" id="mySelect17_1_" value="">
<div class="cube">訂購人資訊</div>
<div class="buy_all">
	<div class="buy_F">收件人&nbsp;<span>必填</span>
    </div>
    <form>
    <div class="buy_R">
		 <input type="text" id="orderName" name="orderName" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="收件人" autocomplete="name" ng-model="ctrl.order.name" required>
    </div>


<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">電話&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<input type="text" id="orderTel" name="orderTel" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="電話" autocomplete="tel" ng-model="ctrl.order.phone" required>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">地區&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">

       <div id="addr_1" class="col-md-9 col-sm-9"></div>
		<script>
				$('#addr_1').twzipcode();
				    $("#addr_1 select").change(function() {
						$("#h_address").val($("#county").val() + $("#area").val());
						$("#hidCounty").val($("#county").val());
						$("#hidArea").val($("#area").val());
						$("#hidZipCode").val($("#zipcode").val());
					});
		</script>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">地址&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<input type="text" id="h_address" name="h_address" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="地址" ng-model="ctrl.order.address.address" required>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">Email&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<input type="email" id="orderEmail" name="orderEmail" class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required" placeholder="E-mail" autocomplete="email" ng-model="ctrl.order.email" required>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">收貨時段&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		                <select id="orderReceiveDay" name="orderReceiveDay" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="ctrl.order.receiveDay" required="">
			<option value="" disabled="disabled" selected="selected">--請選擇--</option>
			<option value="平日">平日</option>
			<option value="星期六">星期六</option>
			<option value="星期日">星期日</option>
			<option value="不指定">不指定</option>
		</select>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">收貨時間&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<select id="orderReceiveTime" name="orderReceiveTime" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
            <option value="">--請選擇--</option>
            <option value="上午">上午</option>
            <option value="下午">下午</option>
            <option value="晚上">晚上</option>
            <option value="不指定">不指定</option>
		</select>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">付款方式&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<select id="orderPayWay" name="orderPayWay" onchange="check_pay()" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required">
			<option value="">--請選擇--</option>
			<option value="匯款">匯款</option>
            <option value="貨到付款">貨到付款</option>
                </select>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all" id="orderaccount" style="display:none;">
	<div class="buy_F">匯款帳號&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
        <p>新光銀行代碼：103</p>
   <p>帳號：0125503057117 </p>
   <p>戶名：</p>
   <p>分行： </p>
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">匯款後五碼&nbsp;<span id="acNumber1"></span>
    </div>
    <div class="buy_R">
        <input type="text" id="orderLast5AccountNumber" name="orderLast5AccountNumber" maxlength="5" size="30" placeholder="匯款帳號專用">
    </div>
</div>

<div class="clear"></div>
<!--<div class="buy_all">
	<div class="buy_F">卡號後四碼&nbsp;<span>必填</span>
    </div>
    <div class="buy_R">
		<input type="text" name="" id="" maxlength="4" size="30" placeholder="信用卡對帳專用">
    </div>
</div>

<div class="clear"></div>-->
<div class="buy_all">
	<div class="buy_F">您的生日</div>
    <div class="buy_R">
		<input type="date" id="orderBirthday" name="orderBirthday" size="30">
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">Line&nbsp;ID</div>
    <div class="buy_R">
		<input type="text" id="orderLineId" name="orderLineId" maxlength="30" size="30" placeholder="優惠將以Line告知">
    </div>
</div>

<div class="clear"></div>
<div class="buy_all">
	<div class="buy_F">收貨備註</div>
    <div class="buy_R">
		<input type="text" id="orderComment" name="orderComment" maxlength="1000" size="30" placeholder="若有特殊需求請告知">
    </div>
</div>
</form>

<div class="clear"></div>
<div class="clear"></div>

<div class="buy">
		<input type="submit" value="訂購" onclick="fbq('track', 'Purchase', 
        {value: Number(document.getElementById('total').value), currency: 'TWD' });">

</div>
</form>

<div class="clear"></div>
<div class="clear"></div>

</article>

<div class="clear"></div>
	<script type="text/javascript" src="js/select-pro.js"></script>

	<script language="javascript">
	$(function () {
	  $(window).scroll(function () {
		var scrollVal = $(this).scrollTop();
		if(scrollVal >= 12654){
			document.getElementById("ct").style.display = "none";
		}
		else{
			document.getElementById("ct").style.display = "block";
		}
		//$(".qScrollTop").text(scrollVal);
	  });

	  $('#ct').click(function(){
			$('html,body').animate({scrollTop:$('#scroll_top').offset().top}, 1000);
		});
	});

	</script>

	<div id="roll">
		<div title="前往訂購" id="ct" style="display:block;"><p>
            <a href="#" onclick="fbq('track','InitiateCheckout');"><img src="image/buybuy.png" width="150"></a></p></div>
	</div>


<footer>
<h3>© 日月潭香林田莊版權所有</h3>
</footer>
</body>
</html>
